<div class="list">
	<label class="item item-input">
		<span class="input-label">Name</span>
		<input type="text" ng-model="snake.name">
	</label>
	<label class="item item-input">
		<span class="input-label">Description</span>
		<input type="text" ng-model="snake.description">
	</label>
	<label class="item item-input">
		<span class="input-label">Genus</span>
		<input type="text" ng-model="snake.genus">
	</label>
	<label class="item item-input">
		<span class="input-label">Species</span>
		<input type="text" ng-model="snake.species">
	</label>
	<label class="item item-checkbox">
		<label class="checkbox">
			<input type="checkbox" ng-model="snake.venomous">
		</label>
		Venomous
	</label>
</div>

<div class="bar bar-footer bar-balanced">
	<div ng-click="action(snake)">
		<i class="icon ion-ios7-download"></i>
		<div class="title">{{actionText}}</div>
	</div>
</div>