<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Steroids App</title>

  <link rel="stylesheet" href="/components/ionic/css/ionic.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
	<link rel="stylesheet" href="/stylesheets/snakes.css"/>

  <script src="http://localhost/cordova.js"></script>

  <script src="/components/steroids-js/steroids.js"></script>

  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-touch/angular-touch.min.js"></script>

  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>

  <script src="/components/ionic/js/ionic.bundle.js"></script>

  <script src="/models/<%= yield.controller %>.js"></script>

  <script src="/controllers/<%= yield.controller %>.js"></script>
  <script src="/directives/indexRow.js"></script>
</head>
<body ng-app="<%= yield.controller %>App">

  <%= yield.view %>

</body>
</html>
